SPRING_DATASOURCE_URL=jdbc:postgresql://...supabase.com:6543/postgres?sslmode=require&prepareThreshold=0
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
GEMINI_API_KEY=

# DOKS cluster config
REGION=sfo3
CLUSTER_NAME=health-ai-doks
